h1 {
    font-family: Georgia, serif;
    font-size: 48px;
    margin-bottom: 0;
}

section {
    max-width: 700px;
    margin: 0 auto
}

.content {
    display: flex;
    position: relative;
    align-items: flex-end;
}

.content:after {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #cccccc;
}

.content * {
    flex-basis: 50%;
}

.content button {
    font-size: 14px;
    background-color: #02B187;
    border: 1px solid #02B187;
    color: white;
    padding: 8px 40px;
}

.content p {
    margin-bottom: 0;
}

p {
    color: gray;
}

.black-p {
    color: black;
}

.green {
    background-color: #D4FDEC;
}