html {
    box-sizing: inherit;
}

section {
    width: 250px;
    height: 248px;
    border: 1px dotted black;
    text-align: center;
}

p {
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}
